extends layout

block content
  .ms-Grid-row(ng-controller='EmailSenderController')
    .ms-NavBar
      ul.ms-NavBar-items
        li.navbar-header Office 365 Connect sample
        li#disconnect_link.ms-NavBar-item.ms-NavBar-item--right(onclick="window.location.href='disconnect'")
          i.ms-Icon.ms-Icon--x
          |  Disconnect
    form(action='/emailSender', method='post')
      .ms-Grid-col.ms-u-mdPush1.ms-u-md9.ms-u-lgPush1.ms-u-lg6
        div
          h2.ms-font-xxl.ms-fontWeight-semibold Hi, #{display_name}!
          p.ms-font-xl
            | You're now connected to Office 365. Click the button below to send a message from your account using the Microsoft Graph.
          .ms-TextField
            input.ms-TextField-field(name='default_email', value='#{user_principal_name}')
          button#send_mail_button.ms-Button
            span.ms-Button-label Send mail