extends layout

block content
  .ms-Grid(ng-controller='LoginController')
    .ms-Grid-row
      .ms-NavBar
        ul.ms-NavBar-items
          li.navbar-header Office 365 Connect sample
      .ms-Grid-col.ms-u-mdPush1.ms-u-md9.ms-u-lgPush1.ms-u-lg6
        div
          p.ms-font-xl Use the button below to connect to Office 365.
          button#connect_button.ms-Button(ng-click='redirectToLogin()')
            span.ms-Button-label Connect to Office 365
